[Unit]
Description=Filebase Service
After=multi-user.target

[Service]
User=pi
Type=idle
WorkingDirectory=/home/pi/filebase/
ExecStart=/home/pi/filebase/target/release/filebase /mnt/data/.filebase

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target